:root {
  --grid-paper: 2px;
  --cell: 175px;
  --lines-draw-time: 3s;
  --lines-draw-delay: 150ms;
  --paper-bg:
    url(./media/images/paper-grid-pattern.png),
    radial-gradient(at top left,
      rgba(212, 226, 173, 0.05),
      rgba(231, 236, 185, 0.25)
    ),
    url(./media/images/paper-textured-background.jpg);
  --hand-player-1-rest-x: 100%;
  --hand-player-1-rest-y: 100vmax;
  --hand-player-2-rest-x: 0%;
  --hand-player-2-rest-y: -100vmax;
  --phone-height: 700px;
}

html,
body {
  padding: 0;
  margin: 0;
  user-select: none;
}
html {
  height: 100vh;
  background: var(--paper-bg);
  background-position: center;
}

body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}



/* - - - board - - - */
.board {
  position: absolute;
  /* isolation: isolate; */
  padding: var(--grid-paper);
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: var(--grid-paper);
}

.cell {
  position: relative;
  width: calc(var(--cell) - var(--grid-paper));
  height: calc(var(--cell) - var(--grid-paper));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
} .cell:hover {
  background-color: rgba(231, 236, 185, 0.5);
  cursor: pointer;
}

.line, .Strikethrough {
  position: absolute;
  background: url(./media/images/pencil-stroke.png);
  background-size: 100% 100%;
  width: 100%;
  height: 15px;
}

.line.l1 {
  left: 0;
  top: 33%;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
}
.line.l1.animate {
  animation: line-draw-1 var(--lines-draw-time) var(--lines-draw-delay);
  animation-fill-mode: forwards;
}
@keyframes line-draw-1 {
  0%, 50% {clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%); }
  60%, to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}

.line.l2 {
  left: 0;
  bottom: 31%;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.line.l2.animate {
  animation: line-draw-2 var(--lines-draw-time) var(--lines-draw-delay);
  animation-fill-mode: forwards;
}
@keyframes line-draw-2 {
  0%, 70% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
  80%, to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}
.line.l3 {
  top: 49%;
  left: 17%;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
}
.line.l3.animate {
  animation: line-draw-3 var(--lines-draw-time) var(--lines-draw-delay);
  animation-fill-mode: forwards;
}
@keyframes line-draw-3 {
  0%, 30% {clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%); }
  40%, to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}
.line.l4 {
  top: 50%;
  right: 17%;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.line.l4.animate{
  animation: line-draw-4 var(--lines-draw-time) var(--lines-draw-delay);
  animation-fill-mode: forwards;
}
@keyframes line-draw-4 {
  0%, 10% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
  20%, to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}

.Strikethrough {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.Strikethrough.h1 {
  top: 15%;
  rotate: 1deg;
}

.Strikethrough.h2 {
  top: 50%;
  rotate: -1.5deg;
}
.Strikethrough.h3 {
  bottom: 15%;
  rotate: .5deg;
}
.Strikethrough.v1 {
  rotate: 90.5deg;
  top: 49%;
  right: 32%;
}
.Strikethrough.v2 {
  rotate: 90deg;
  top: 49%;
}
.Strikethrough.v3 {
  rotate: 91deg;
  top: 49%;
  left: 32%;
}
.Strikethrough.d1 { /* top left to bottom right*/
  rotate: 46deg;
  top: 50%;
  left: -10%;
  width: 125%;
}
.Strikethrough.d2 { /* bottom left to top right*/
  rotate: -44deg;
  top: 50%;
  right: -10%;
  width: 125%;
}
.Strikethrough.animate {
  transition: 250ms 250ms;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.short-line {
  position: absolute;
  background-image: url(./media/images/pencil-stroke-short.png);
  background-size: 100% 100%;
  width: 100%;
  height: 20px;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.short-line.x1 {
  rotate: -45deg;
}
.short-line.x2 {
  rotate: 225deg;
}
.short-line.x1.animate {
  transition: clip-path 100ms 300ms;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.short-line.x2.animate {
  transition: clip-path 100ms 500ms;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.circle {
  position: absolute;
  background: url(./media/images/pencil-stroke-circle.png);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
  rotate: -45deg;
}
.circle.animate {
  animation: draw-circle 1s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes draw-circle {
	0%, 30% {
		clip-path: polygon(100% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	40% {
		clip-path: polygon(50% 50%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
	}
	50% {
		clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%);
	}
	60% {
		clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 0, 0 0);
	}
	70%, 100% {
		clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 0, 100% 0);
	}
}

.hand {
  position: absolute;
  left: var(--hand-player-1-rest-x);
  top: var(--hand-player-1-rest-y);
  transform-origin: 0 0;
  scale: 75%;
  transition: position .5s;
  pointer-events: none;
}.hand > img {
  min-width: 100vw;
  max-width: 150%;
  height: auto;
}
.hand.player2 {
  left: var(--hand-player-2-rest-x);
  top: var(--hand-player-2-rest-y);
  rotate: 180deg;
}
.hand.player1.animate {
  animation: board-draw var(--lines-draw-time) var(--lines-draw-delay);
}

@keyframes board-draw {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  10% { left: 33%; top: 0% }
  20% { left: 33%; top: 100%; }
  30% { left: 66%; top: 0% }
  40% { left: 66%; top: 100%; }
  50% { left: 0%; top: 33%; }
  60% { left: 100%; top: 33%; }
  70% { left: 0%; top: 66%; }
  80% { left: 100%; top: 66%; }
}
.hand.player1.strikeh1{
  animation: strikeh1 1s;
} @keyframes strikeh1 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  25% { left: 100%; top: 14% }
  50% { left: 0%; top: 14%; }
}
.hand.player1.strikeh2{
  animation: strikeh2 1s;
} @keyframes strikeh2 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  25% { left: 100%; top: 50% }
  50% { left: 0%; top: 50%; }
}
.hand.player1.strikeh3{
  animation: strikeh3 1s;
} @keyframes strikeh3 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  25% { left: 100%; top: 82% }
  50% { left: 0%; top: 82%; }
}
.hand.player1.strikev1{
  animation: strikev1 1s;
} @keyframes strikev1 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  25% { left: 14%; top: 100% }
  50% { left: 14%; top: 0%; }
}
.hand.player1.strikev2{
  animation: strikev2 1s;
} @keyframes strikev2 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  25% { left: 50%; top: 100% }
  50% { left: 50%; top: 0%; }
}
.hand.player1.strikev3{
  animation: strikev3 1s;
} @keyframes strikev3 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  25% { left: 80%; top: 100% }
  50% { left: 80%; top: 0%; }
}
.hand.player1.striked1{
  animation: striked1 1s;
} @keyframes striked1 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  25% { left: 95%; top: 95% }
  50% { left: 5%; top: 5%; }
}
.hand.player1.striked2{
  animation: striked2 1s;
} @keyframes striked2 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  25% { left: 95%; top: 5% }
  50% { left: 5%; top: 95%; }
}

.hand.player2.strikeh1{
  animation: strike2h1 1s;
} @keyframes strike2h1 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  25% { left: 100%; top: 14% }
  50% { left: 0%; top: 14%; }
}
.hand.player2.strikeh2{
  animation: strike2h2 1s;
} @keyframes strike2h2 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  25% { left: 100%; top: 50% }
  50% { left: 0%; top: 50%; }
}
.hand.player2.strikeh3{
  animation: strike2h3 1s;
} @keyframes strike2h3 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  25% { left: 100%; top: 82% }
  50% { left: 0%; top: 82%; }
}
.hand.player2.strikev1{
  animation: strike2v1 1s;
} @keyframes strike2v1 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  25% { left: 14%; top: 100% }
  50% { left: 14%; top: 0%; }
}
.hand.player2.strikev2{
  animation: strike2v2 1s;
} @keyframes strike2v2 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  25% { left: 50%; top: 100% }
  50% { left: 50%; top: 0%; }
}
.hand.player2.strikev3{
  animation: strike2v3 1s;
} @keyframes strike2v3 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  25% { left: 80%; top: 100% }
  50% { left: 80%; top: 0%; }
}
.hand.player2.striked1{
  animation: strike2d1 1s;
} @keyframes strike2d1 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  25% { left: 95%; top: 95% }
  50% { left: 5%; top: 5%; }
}
.hand.player2.striked2{
  animation: strike2d2 1s;
} @keyframes strike2d2 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  25% { left: 95%; top: 5% }
  50% { left: 5%; top: 95%; }
}

.hand.player1.x0{
  animation: x0 1s;
} @keyframes x0 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  30% { left: 26%; top: 6%; }
  40% { left: 6%; top: 26%;}
  50% { left: 6%; top: 6%; }
  60% { left: 26%; top: 26%; }
}
.hand.player1.x1{
  animation: x1 1s;
} @keyframes x1 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  30% { left: 59%; top: 6%; }
  40% { left: 39%; top: 26%; }
  50% { left: 40%; top: 6%; }
  60% { left: 59%; top: 27%; }
}
.hand.player1.x2{
  animation: x2 1s;
} @keyframes x2 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  30% { left: 92%; top: 6%; }
  40% { left: 72%; top: 26%; }
  50% { left: 73%; top: 6%; }
  60% { left: 92%; top: 26%; }
}
.hand.player1.x3{
  animation: x3 1s;
} @keyframes x3 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  30% { left: 26%; top: 39%; }
  40% { left: 6%; top: 59%; }
  50% { left: 6%; top: 39%; }
  60% { left: 26%; top: 59%; }
}
.hand.player1.x4{
  animation: x4 1s;
} @keyframes x4 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  30% { left: 59%; top: 39%; }
  40% { left: 39%; top: 60%; }
  50% { left: 39%; top: 39%; }
  60% { left: 60%; top: 60%; }
}
.hand.player1.x5{
  animation: x5 1s;
} @keyframes x5 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  30% { left: 92%; top: 39%; }
  40% { left: 72%; top: 59%; }
  50% { left: 73%; top: 39%; }
  60% { left: 92%; top: 59%; }
}
.hand.player1.x6{
  animation: x6 1s;
} @keyframes x6 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  30% { left: 26%; top: 72%; }
  40% { left: 6%; top: 92%; }
  50% { left: 7%; top: 73%; }
  60% { left: 26%; top: 93%; }
}
.hand.player1.x7{
  animation: x7 1s;
} @keyframes x7 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  30% { left: 59%; top: 72%; }
  40% { left: 39%; top: 93%; }
  50% { left: 39%; top: 72%; }
  60% { left: 60%; top: 93%; }
}
.hand.player1.x8{
  animation: x8 1s;
} @keyframes x8 {
  0%, 100% {left: var(--hand-player-1-rest-x); top: var(--hand-player-1-rest-y); }
  30% { left: 93%; top: 72%; }
  40% { left: 72%; top: 92%; }
  50% { left: 72%; top: 72%; }
  60% { left: 92%; top: 93%; }
}

.hand.player2.o0{
  animation: o0 1s;
} @keyframes o0 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  30%, 72%{ left: 16%; top: 4%; } /*top center, start and end*/
  40% { left: 29%; } /*right*/
  50% { top: 27%;} /*bottom*/
  60% { left: 4%; } /*left*/
}
.hand.player2.o1{
  animation: o1 1s;
} @keyframes o1 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  30%, 72%{ left: 49%; top: 4%; } /*top center, start and end*/
  40% { left: 62%; } /*right*/
  50% { top: 29%;} /*bottom*/
  60% { left: 37%; } /*left*/
}
.hand.player2.o2{
  animation: o2 1s;
} @keyframes o2 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  30%, 72%{ left: 82%; top: 4%; } /*top center, start and end*/
  40% { left: 95%; } /*right*/
  50% { top: 28%;} /*bottom*/
  60% { left: 70%; } /*left*/
}
.hand.player2.o3{
  animation: o3 1s;
} @keyframes o3 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  30%, 72%{ left: 16%; top: 38%; } /*top center, start and end*/
  40% { left: 28%; } /*right*/
  50% { top: 62%;} /*bottom*/
  60% { left: 4%; } /*left*/
}
.hand.player2.o4{
  animation: o4 1s;
} @keyframes o4 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  30%, 72%{ left: 49%; top: 37%; } /*top center, start and end*/
  40% { left: 62%; } /*right*/
  50% { top: 61%;} /*bottom*/
  60% { left: 38%; } /*left*/
}
.hand.player2.o5{
  animation: o5 1s;
} @keyframes o5 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  30%, 72%{ left: 83%; top: 37%; } /*top center, start and end*/
  40% { left: 95%; } /*right*/
  50% { top: 61%;} /*bottom*/
  60% { left: 71%; } /*left*/
}
.hand.player2.o6{
  animation: o6 1s;
} @keyframes o6 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  30%, 72%{ left: 16%; top: 71%; } /*top center, start and end*/
  40% { left: 29%; } /*right*/
  50% { top: 95%;} /*bottom*/
  60% { left: 4%; } /*left*/
}
.hand.player2.o7{
  animation: o7 1s;
} @keyframes o7 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  30%, 72%{ left: 49%; top: 70%; } /*top center, start and end*/
  40% { left: 62%; } /*right*/
  50% { top: 95%;} /*bottom*/
  60% { left: 37%; } /*left*/
}
.hand.player2.o8{
  animation: o8 1s;
} @keyframes o8 {
  0%, 100% {left: var(--hand-player-2-rest-x); top: var(--hand-player-2-rest-y); }
  30%, 72%{ left: 83%; top: 70%; } /*top center, start and end*/
  40% { left: 95%; } /*right*/
  50% { top: 95%;} /*bottom*/
  60% { left: 70%; } /*left*/
}


.page-turn {
  position: absolute;
  left: 150%;
  top: 0%;
  z-index: 2;
  width: 100%;
  height: 150%;
  scale: 150%;
  transform: rotateY(50deg) skewY(2deg);
  filter: drop-shadow(-10rem 0 1rem rgba(0, 0, 0, .25));
  background: var(--paper-bg);
  box-shadow:
    inset -10rem 0 10rem rgba(0, 0, 0, .25),
    3rem 0 20rem rgba(0, 0, 0, .25);
  rotate: 5deg;
  pointer-events: none;
}
.page-turn.animate {
  animation: page-turning 1s;
}
@keyframes page-turning {
  0% {
    left: 150%;
    top: 0%;
    width: 100%;
    rotate: 5deg;
    filter: drop-shadow(-10rem 0 1rem rgba(0, 0, 0, .25));
  }
  100% {
    left: -350%;
    top: -30%;
    width: 300%;
    rotate: 2deg;
    filter: drop-shadow(-10rem 0 10rem rgba(0, 0, 0, .5));
  }
}



/* dialogues */

.messages {
  pointer-events: none;
  --height: 250px;
  display: flex;
  position: absolute;
  font-size: 2.75rem;
  width: 100%;
  height: var(--height);
  flex-direction: column;
  z-index: 3;
}.messages p {
  margin: .25rem;
  padding: .25rem .5rem;
  border-radius: 10px;
}
.messages.player1 {
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column-reverse;
  overflow: hidden;
  right: 0;
  bottom: calc(var(--height) * -1);
} .messages.player1 p {
  animation: message-p1 1s ease-in;
}
.messages.player2 {
  left: 0;
  top: calc(var(--height) * -1);
  justify-content: flex-end;
  align-items: flex-start;
} .messages.player2 p {
  animation: message-p2 1s ease-in;
}
@keyframes message-p1 {
  0% {transform: translateX(-100%); background-color: rgba(0, 0, 0, .05);}
  30% {transform: translateX(0px);background-color: rgba(0, 0, 0, .15);}
  80% {background-color: rgba(0, 0, 0, .00);}
}
@keyframes message-p2 {
  0% {transform: translateX(100%); background-color: rgba(0, 0, 0, .05);}
  30% {transform: translateX(0px); background-color: rgba(0, 0, 0, .15);}
  80% {background-color: rgba(0, 0, 0, .00);}
}

.card {
  text-shadow: 0 0 3px white;
  font-weight: 800;
  transition: 200ms;
  transform: rotateX(0deg);
}.card.collapsed {
  transform: rotateX(90deg);
}



/* phones */
.cell-phone {
  --clr-phone: #444;
  --border-radius: 30px;
  z-index: 1;
  position: absolute;
  isolation: isolate;
  height: var(--phone-height);
  width: calc(var(--phone-height) / 1.75);
  border-radius: var(--border-radius);
  background-color: var(--clr-phone);
  box-shadow:
    inset -3px -3px 10px black,
    inset 3px 3px 10px #888;
  display: flex;
  justify-content: center;
}.cell-phone-screen {
  padding: 1.5rem .5rem;
  margin: 1rem 1rem 2rem 1rem;
  flex: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: calc(var(--border-radius) / 2);
  background: radial-gradient(at left, hsl(220, 50%, 30%), hsl(220, 30%, 20%));
  box-shadow: inset 1px 1px 2px 0 #222;
}.cell-phone-speaker{
  position: absolute;
  top: 2rem;
  width: 25%;
  height: 12px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: inset 1px 1px 1px 0 black;
}.cell-phone-button {
  position: absolute;
  bottom: 1rem;
  border-radius: 20px;
  border: 5px solid var(--clr-phone);
  width: 25%;
  height: 20px;
  background-color: #555;
  box-shadow: inset -2px -2px 2px 0 #333;
}
/* screen content related */
.cell-phone-messages {
  width: 90%;
  padding: 0 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: hsl(220, 50%, 30%);
}.cell-phone-msg-sender{
  color: #ccc;
  font-weight: 800;
  font-size: 1.30em;
  margin: .25em 0;
}.cell-phone-msg {
  color: #bbb;
  font-weight: 400;
  font-size: 1.20em;
  margin: .25em 0 .75em;
}
.cell-phone-messages p:empty {
  padding: 0;
  margin: 0;
}
.cell-phone-time {
  position: absolute;
  top: 30%;
}
.cell-phone-screen > p,
.cell-phone-screen input {
  margin-top: auto;
  margin-bottom: 20%;
  text-align: center;
  font-size: 5rem;
  color: #aaa;
  font-family: monospace, 'Courier New', Courier;
} .cell-phone-name:hover {
  position: relative;
  border-bottom: 3px solid #555;
  cursor: text;
} .cell-phone-name:hover::after {
  --padding: .5em;
  --dialogue-width: 25px;
  position: absolute;
  content: "Tap to change name";
  left: 10%;
  bottom: 100%;
  font-size: .25em;
  background-color: hsl(220, 50%, 50%);
  padding: var(--padding);
  padding-bottom: calc(var(--padding) + var(--dialogue-width));
  clip-path: polygon(0 0, 100% 0, 100% 75%, var(--dialogue-width) 75%, 0 100%);
}
.cell-phone-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  height: 45%;
  width: 90%;
  bottom: 10%;
  border-radius: 1rem;
  background-color: hsl(220, 50%, 50%);
}.cell-phone-modal textarea {
  border-radius: .5rem;
  width: 90%;
  font-size: 4rem;
  resize: none;
}
.cell-phone-btns {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 3rem;
  padding: 1rem;
}.cell-phone-btns > p {
  margin: 0;
  border-radius: 50%;
  padding: .5rem;
}.cell-phone-btns > p:hover {
  background-color: hsl(220, 50%, 70%);
}

.cell-phone-ia-toggle {
  position: absolute;
  top: 27%;
  left: 1.5rem;
  font-size: 1.5em;
  color: #999;
  display: grid;
  gap: 1rem;
  grid-template-columns: 50px 1fr;
}.cell-phone-ia-toggle label:hover {
  color: #ccc;
}.cell-phone input[type="checkbox"] {
  position: relative;
  width: 100%;
  height: 100%;
  appearance: none;
  background-color: hsl(220, 50%, 20%);
  border-radius: 50px;
} .cell-phone input[type="checkbox"]::after {
  position: absolute;
  content: "";
  left: 0%;
  right: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50px;
  border: 3px solid hsl(220, 50%, 20%);
  box-sizing: border-box;
  background-color: #888;
  transition: 250ms cubic-bezier(.86,0,.07,1);
}.cell-phone input[type="checkbox"]:hover:after {
  background-color: #aaa;
}.cell-phone input[type="checkbox"]:checked:after {
  left: 50%;
  right: 0%;
  background-color: hsl(220, 50%, 50%);
}.cell-phone input[type="checkbox"]:checked:hover:after {
  background-color: hsl(220, 50%, 70%);
}

.keychain {
  position: absolute;
  width: 110px;
  height: 200px;
  bottom: -200px;
  left: 2rem;
}.chain {
  position: absolute;
}.chain img {
  left: 0%;
  top: 0;
  width: 100%;
  rotate: 180deg;
}.logo {
  position: absolute;
  left: 0%;
  scale: 75%;
  top: 40%;
}
.player1 .keychain {
  position: absolute;
  width: 200px;
  height: 110px;
  bottom: 100%;
  left: 40%;
}.player1 .chain {
  rotate: 180deg;
  right: 0;
  bottom: 0;
}.player1 .logo {
  position: absolute;
  left: 15%;
  scale: 70%;
  top: -23%;
  rotate: 90deg;
}


.cell-phone.player1 {
  right: 1rem;
  bottom: calc(50px - var(--phone-height));
  transition: bottom 350ms ease-out;
}.cell-phone.player1:hover,
.cell-phone.player1.active {
  bottom: 0;
  z-index: 4;
}
.cell-phone.player2 {
  left: 1rem;
  top: calc(50px - var(--phone-height));
  transition: top 350ms ease-out;
}.cell-phone.player2:hover,
.cell-phone.player2.active {
  top: 0;
  z-index: 4;
}

.cell-phone.vibrate {
  animation: vibration 300ms linear;
}

@keyframes vibration {
  0%, 100% { filter: blur(2px); }
  10%, 30%, 50%, 70%, 90%{ transform: rotate(1deg); }
  20%, 40%, 60%, 80% { transform: rotate(-1deg); }
}

/* for general use */
.hidden {
  display: none;
}



/* for testing */
** {
  outline: 1px solid red;
}
